name: DockerHub README Sync

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - README.md

jobs:
  readme:
    name: Sync README with DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate DockerHub repository name
        id: repo
        shell: bash
        run: |
          NAME=$(echo "${GITHUB_REPOSITORY/docker-/}" | tr '[:upper:]' '[:lower:]')
          echo "name=$NAME" | tee -a "$GITHUB_OUTPUT"

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ steps.repo.outputs.name }}
          short-description: ${{ github.event.repository.description }}
