name: Caddy updates

on:
  workflow_dispatch:
  schedule:
    - cron: 17 3 * * * # Daily at 3:17 AM

jobs:
  version_check:
    name: Get latest Caddy version
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version.outputs.caddy_version }}
      tag_exists: ${{ steps.tag.outputs.exists }}

    steps:
      - name: Pull latest Caddy image
        run: docker pull caddy:latest

      - name: Parse latest Caddy version from image
        id: version
        run: echo "caddy_version=$(docker inspect caddy | jq -r '.[0].ContainerConfig.Env[] | select(contains("CADDY_VERSION")) | split("=")[1][1:]')" | tee -a ${GITHUB_OUTPUT}

      - name: Check for existing version tag
        uses: mukunku/tag-exists-action@v1.2.0
        id: tag
        with:
          tag: v${{ steps.version.outputs.caddy_version }}

  update_files:
    name: Update Dockerfile with latest version
    runs-on: ubuntu-latest
    needs: version_check

    if: needs.version_check.outputs.tag_exists != 'true'
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v3

      - name: Update Dockerfile
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: Dockerfile
          find: caddy:\d+\.\d+\.\d+
          replace: "caddy:${{ needs.version_check.outputs.version }}"
          regex: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          branch: feat/updates/caddy-${{ needs.version_check.outputs.version }}
          delete-branch: true
          labels: dependencies
          commit-message: "build(deps): Bump Caddy to v${{ needs.version_check.outputs.version }}"
          title: "build(deps): Bump Caddy to v${{ needs.version_check.outputs.version }}"
          body: |
            Bumps [caddy](https://hub.docker.com/_/caddy) to version `${{ needs.version_check.outputs.version }}`.

            _Auto-generated by [create-pull-request](https://github.com/peter-evans/create-pull-request)_
